<md-dialog style="max-width: 400px; width: 100%">
  <md-content>
    <form name="registerForm" novalidate ng-submit="doRegister()">
      <md-input-container>
        <label>Email</label>
        <input clear-server-error
          required name="email" type="email" ng-model="register.email">
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="email">Please enter a valid email address.</div>
          <div ng-message="server">{{ errors.email }}</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input required type="password" clear-server-error
          name="password" ng-model="register.password">
        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="server">{{ errors.password }}</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password Confirmation</label>
        <input required type="password" name="password_confirmation"
          clear-server-error ng-model="register.password_confirmation">
        <div ng-messages="registerForm.password_confirmation.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="server">{{ errors.password_confirmation }}</div>
        </div>
      </md-input-container>
      <md-button ng-disabled="!registerForm.$valid || submitting"
        class="md-primary"
        type="submit">Register</md-button>
      <md-progress-linear ng-if="submitting" md-mode="indeterminate"></md-progress-linear>
    </form>
  </md-content>
</md-dialog>
