*[layout-fill] {
  height: 100%;
}
html { font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif; }
html, body {
  height: 100%
}
body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-width: 100%; 
  max-height: 100%;
}
label {
  text-shadow: none !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

md-content {
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &[md-scroll-y] {
    overflow-y: auto;
    overflow-x: hidden;
  }
  &[md-scroll-x] {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &[md-scroll-xy] {
  }

  &.md-padding {
    padding: 8px;
  }
}

.schedulr-tabs .md-header .md-ripple {
  border-color: #FFFF8D !important;
}
.schedulr-tabs md-tabs-ink-bar {
  background-color: #FFFF8D !important;
}

.main-ui.ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  visibility: hidden;
}
.main-ui.ng-enter-active {
  visibility: visible;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.26);
}
:-moz-placeholder { /* older Firefox*/
  color: rgba(0,0,0,0.26);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,0.26);
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.26);
}

.md-icon-container > i{
  padding: 5px;
  font-size: xx-large;
  display: inline-block;
}
.sp-replacer {
  height: 30px;
  margin-top: 23px;
}

.md-button-toggle .md-toggle-icon {
  background: transparent image-url("list_control_down.png") no-repeat center center;
  background-size: 100% auto;
  display: inline-block;
  height: 24px;
  margin: auto 0 auto auto;
  speak: none;
  width: 24px;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle i {
  line-height: 40px;
  margin-right: 10px;
  font-size: 16px;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.menu-toggle-list {
  background: #fff;
  max-height: 9999px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-top: 1px solid rgba(158,158,158,0.2);
  border-bottom: 1px solid rgba(158,158,158,0.2);
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;

  &.ng-hide { max-height: 0; }
  &.ng-hide-active { border: none; }
  md-item-content {
    cursor: pointer;

    &:hover {
      background-color: #e3e3e3;
    }
  }
}

.all-list {
  .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
  }

  md-list {
    padding:0;
  }
}

.homework-list .md-tile-content > span {
  text-align:right
}

.homework-confirm {
  .md-button {
    display: block;
    line-height: 25px;
  }
  .subject-choose {
    margin: 10px 0 !important;
  }
  input[name="due_date"] {
    margin: 10px 0 !important;
  }
}
.homework-form {
  max-width: 640px;
  margin: 0 auto;
}

.subject-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

.slide-from-right.ng-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s;
}

.slide-from-right.ng-leave {
  -webkit-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s;
}
