<md-content md-scroll-y md-theme="default">
  <md-list class="homework-list">
    <md-subheader class="md-primary">Upcoming</md-subheader>
    <md-item
      ng-repeat="homework in all.homework.upcoming()"
      ng-click="planner.showBottomGrid(homework)">
      <md-item-content style="border-left: 5px solid red;">
        <div class="md-tile-content">
          <h3>{{ homework.title }}</h3>
          <h4>{{ homework.due_date | date:'fullDate' }}</h4>
          <p>
            {{ homework.description }}
          </p>
        </div>
        <span class="md-tile-right" style="color: red; padding-right: 5px;">
        </span>
      </md-item-content>
      <md-divider></md-divider>
    </md-item>
    <md-subheader class="md-warn">Past Due</md-subheader>
    <md-item
      ng-repeat="homework in all.homework.pastDue()"
      ng-click="planner.showBottomGrid(homework)">
      <md-item-content style="border-left: 5px solid red;">
        <div class="md-tile-content">
          <h3>{{ homework.title }}</h3>
          <h4>{{ homework.due_date | date:'fullDate' }}</h4>
          <p>
            {{ homework.description }}
          </p>
        </div>
        <span class="md-tile-right" style="color: red; padding-right: 5px;">
          {{ homework.completed_at ? "done" : "" }}
        </span>
      </md-item-content>
      <md-divider></md-divider>
    </md-item>
    <md-subheader class="md-accent">Completed</md-subheader>
    <md-item
      ng-repeat="homework in all.homework.completed()"
      ng-click="planner.showBottomGrid(homework)">
      <md-item-content style="border-left: 5px solid red;">
        <div class="md-tile-content">
          <h3>{{ homework.title }}</h3>
          <h4>{{ homework.due_date | date:'fullDate' }}</h4>
          <p>
            {{ homework.description }}
          </p>
        </div>
        <span class="md-tile-right" style="color: red; padding-right: 5px;">
          <i class="fa fa-check"></i>
        </span>
      </md-item-content>
      <md-divider></md-divider>
    </md-item>
  </md-list>
</md-content>
