<div layout-fill layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <a ui-sref="base.planner-tabs">Calendr</a>
      </h3>
      <div class="md-tools" ng-if="!base.loggedIn()">
        <md-button ng-click="base.showLogin($event)">Login</md-button>
        <md-button ng-click="base.showRegister($event)">Register</md-button>
      </div>
      <div class="md-tools" ng-if="base.loggedIn()">
        <md-button ng-click="base.logout()">Logout</md-button>
      </div>
    </div>
  </md-toolbar>

  <div class="main-ui" layout="column" layout-fill ui-view></div>
</div>
