<md-content layout="column" class="md-padding">
  <form name="addHomeworkForm" novalidate ng-submit="hw.create()">
    <div layout="column">
      <md-input-container>
        <label>Title</label>
        <input md-maxlength="50" required name="title" ng-model="hw.form.title">
        <div ng-messages="addHomeworkForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">
            The title has to be less than 50 characters long.
          </div>
        </div>
      </md-input-container>
      <div layout="row">
        <md-input-container flex>
          <label>Subject</label>
          <input md-maxlength="50" name="subject" ng-model="hw.form.subject">
          <div ng-messages="addHomeworkForm.subject.$error">
            <div ng-message="md-maxlength">
              The subject has to be less than 50 characters long.
            </div>
          </div>
        </md-input-container>
      </div>
      <md-input-container>
        <label>Description</label>
        <textarea md-maxlength="500" name="desciption" ng-model="hw.form.description">
        </textarea>
      </md-input-container>
      <md-input-container>
        <input type="text" name="date" required
               pick-a-date="hw.form.due_date" placeholder="Due Date"/>
        <div ng-messages="addHomeworkForm.date.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-button class="md-primary" type="submit">Create Homework</md-button>
      <md-button class="md-warn" ui-sref="base.planner-tabs">Cancel</md-button>
    </div>
  </form>
</md-content>

