<md-content layout="column" class="md-padding homework-confirm">
  <form name="addHomeworkForm" novalidate ng-submit="hw.create()">
    <div layout="column">
      <md-input-container>
        <label>Title</label>
        <input md-maxlength="50" required name="title" ng-model="hw.form.title">
        <div ng-messages="addHomeworkForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">
            The title has to be less than 50 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <textarea md-maxlength="500" required name="description" ng-model="hw.form.description">
        </textarea>
        <div ng-messages="addHomeworkForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="server">{{ errors.description }}</div>
        </div>
      </md-input-container>
      <md-input-container>
        <input type="text" name="due_date"
        clear-server-error
        required
        pick-a-date
        ng-model="hw.form.due_date"
        placeholder="Due Date"/>
        <div ng-messages="addHomeworkForm.due_date.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="server">{{ errors.due_date }}</div>
        </div>
      </md-input-container>
      <div class="subject-choose" layout="row" layout-wrap>
        <md-button ng-repeat="subject in hw.subjects"
          ng-click="hw.selectSubject(subject)"
          ng-class="{ 'md-raised': subject == hw.currentSubject }"
          href=""
          style="margin: 3px 3px;border-left: {{ subject.color}} solid 4px;
          text-transform: none;">
          {{ subject.name }}
        </md-button>
        <md-button ng-show="!hw.createNewSubject"
          href=""
          class="md-primary md-hue-2"
          aria-label="add"
          ng-click="hw.createNewSubject = true"
          style="margin: 3px 3px; width: 36px;">
          <i class="fa fa-plus"></i>
        </md-button>
      </div>
      <div ng-if="hw.createNewSubject">
        <div layout="row">
          <md-input-container>
            <label>New Subject Name</label>
            <input ng-model="hw.newSubject.name">
          </md-input-container>
          <input type="text" spectrum-color-picker ng-model="hw.newSubject.color">
        </div>
        <md-button style="margin-top:-15px; display: inline-block;"
          href="" class="md-accent" ng-click="hw.addSubject()">Add
        </md-button>
        <md-button style="margin-top:-15px; display: inline-block;"
          href="" class="md-warn" ng-click="hw.createNewSubject = false">Cancel
        </md-button>
      </div>
      <small ng-show="!hw.currentSubject" style="padding: 5px;">Please select a subject</small>
    </div>
    <div class="homework-confirm" layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-disabled="!addHomeworkForm.$valid || !hw.currentSubject" type="submit">Create Homework</md-button>
      <md-button class="md-raised md-warn" ui-sref="base.planner-tabs">Cancel</md-button>
    </div>
  </form>
</md-content>

