<md-content layout="column">
  <form name="addHomeworkForm">
    <div layout="column">
      <md-input-container>
        <label>Title</label>
        <input md-maxlength="50" required name="title" ng-model="homework.title">
      
        <div ng-messages="addHomeworkForm.title.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">
            The title has to be less than 50 characters long.
          </div>
        </div>
      
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <textarea md-maxlength="500" name="desciption" ng-model="homework.description">
        </textarea>
      </md-input-container>
    </div>
    <div layout="row">
      <md-button class="md-primary" type="submit">Create Homework</md-button>
      <md-button class="md-warn" ui-sref="base.planner-tabs">Cancel</md-button>
    </div>
  </form>
</md-content>
