<md-tabs class="schedulr-tabs" md-stretch-tabs="never" md-selected="data.selectedIndex">
  <md-tab>
    All
  </md-tab>
  <md-tab>
    Priority
  </md-tab>
  <md-tab>
    Subject
  </md-tab>
</md-tabs>

<md-button ng-if="data.selectedIndex === 0 && base.loggedIn()"
  ui-sref="base.add-homework"
  class="slide-from-right md-fab md-primary md-hue-3 md-fab-bottom-right">+</md-button>
<md-content ng-show="data.selectedIndex === 0" md-scroll-y flex>
  <div ui-view="all"></div>
</md-content>
<md-content ng-show="data.selectedIndex === 1" md-scroll-y flex>
  <div ui-view="priority"></div>
</md-content>
<md-content ng-show="data.selectedIndex === 2" md-scroll-y flex>
  <div ui-view="subject"></div>
</md-content>
